doctype html
html
  head
    block head
      include ./head.pug

  body
    header
      block header
        nav.navbar.navbar-inverse.navbar-fixed-top
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') ZapLabs
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#') Dashboard
                li
                  a(href='#') Settings

    section
      block content

    footer
      block footer
        include ./footer.pug
      script(src="/js/jquery.js")
      script(src="/js/bootstrap.js")
      script(src="/js/global.js")

