extends /shared/layout.pug

block content
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li.active
            a(href='#')
              | Overview
              span.sr-only (current)
          li
            a(href='#') Reports
          li
            a(href='#') Analytics
          li
            a(href='#') Export
        ul.nav.nav-sidebar
          li
            a(href='') Nav item
          li
            a(href='') Nav item again
          li
            a(href='') One more nav
          li
            a(href='') Another nav item
          li
            a(href='') More navigation

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1.page-header Dashboard
        .row.placeholders
          .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='https://unsplash.it/200/200', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
          .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='https://unsplash.it/200/200', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
          .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='https://unsplash.it/200/200', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
          .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='https://unsplash.it/200/200', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
        h2.sub-header Section title
        .table-responsive
          table.table.table-striped
            thead
              tr
                th #
                th Header
                th Header
                th Header
                th Header
            tbody
              tr
                td 1,001
                td 5,000
                td 5,000
                td 5,000
                td 5,000
              tr
                td 1,001
                td 5,000
                td 5,000
                td 5,000
                td 5,000

